@{
    ViewData["Title"] = "Home Page";
}
<div class="tradingview-widget-container">
  <div id="tradingview_52421"></div>
  <div class="tradingview-widget-copyright">
  <a href="https://ru.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank">
  <span class="blue-text">
  </span>
  </a> 
  </div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js">
  </script>
  <script type="text/javascript">
  new TradingView.MediumWidget(
  {
  "symbols": [
    [
      "BTC/USDT",
      "BINANCE:BTCUSDT|ALL"
    ],
    [
      "SOL/USDT",
      "BINANCE:SOLUSDT|ALL"
    ],
    [
      "MATIC/USDT",
      "BINANCE:MATICUSDT|ALL"
    ],
    [
      "AVAX/USDT",
      "BINANCE:AVAXUSDT|ALL"
    ],
    [
      "ATOM/USDT",
      "BINANCE:ATOMUSDT|ALL"
    ],
    [
      "ADA/USDT",
      "BINANCE:ADAUSDT|ALL"
    ],
    [
      "SHIB/USDT",
      "BINANCE:SHIBUSDT|ALL"
    ],
    [
      "XRP/USDT",
      "BINANCE:XRPUSDT|ALL"
    ],
    [
      "DOGE/USDT",
      "BINANCE:DOGEUSDT|ALL"
    ],
    [
      "LTC/USDT",
      "BINANCE:LTCUSDT|ALL"
    ],
    [
      "GALA/USDT",
      "BINANCE:GALAUSDT|ALL"
    ]
  ],
  "chartOnly": false,
  "width": 1110,
  "height": 400,
  "locale": "ru",
  "colorTheme": "dark",
  "autosize": false,
  "showVolume": false,
  "hideDateRanges": false,
  "scalePosition": "right",
  "scaleMode": "Normal",
  "fontFamily": "Arial, sans-serif",
  "noTimeScale": false,
  "valuesTracking": "2",
  "chartType": "candlesticks",
  "fontColor": "rgba(255, 255, 255, 1)",
  "gridLineColor": "rgba(255, 255, 255, 0.06)",
  "backgroundColor": "#131722",
  "upColor": "#22ab94",
  "downColor": "#f7525f",
  "borderUpColor": "#22ab94",
  "borderDownColor": "#f7525f",
  "wickUpColor": "#22ab94",
  "wickDownColor": "#f7525f",
  "container_id": "tradingview_52421"
}
  );
  </script>
</div>

<form>
    <select id="currency">
        <option value="BTC" data-price="19509" selected>BTC</option>
        <option value="SOL" data-price="32.99">SOL</option>
        <option value="MATIC" data-price="0.8249">MATIC</option>
        <option value="AVAX" data-price="16.96">AVAX</option>
        <option value="ATOM" data-price="13.132">ATOM</option>
        <option value="ADA" data-price="0.4224">ADA</option>
        <option value="SHIB" data-price="0.00001106">SHIB</option>
        <option value="XRP" data-price="0.5195">XRP</option>
        <option value="DOGE" data-price="0.06192">DOGE</option>
        <option value="LTC" data-price="53.61">LTC</option>
        <option value="GALA" data-price="0.04231">GALA</option>
        </select>
    <input id="weight" type="text" placeholder="amout">
</form>
<div id="result">Result</div>
<button id = "submit"> Submit </Submit>
