@{
    ViewData["Title"] = "Information about the creator";
}
<h1>@ViewData["Title"]</h1>

<address>Hello. My name is Ryabukha Denis, I am 22 years old.</address>
<div>I was born in the Sumy region, before the war I lived in Irpen, worked in a clinic, checked my eyesight.
   After the start of the war, I decided to change the type of activity to become a C # developer, found Beetroot and was never mistaken.</div>

